body {
  background: #1c1c1c;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 480px;
  height: 450px;
  text-align: left;
  margin: 100px auto;
  padding: 80px 80px 50px 80px;
  background: #1f2937;
}
.generate {
  font-family: "Karla", sans-serif;
  font-size: 40px;
  font-weight: 800;
  color: #ffffff;
  margin-bottom: 0px;
  line-height: 40px;
}

.password {
  font-family: "Karla", sans-serif;
  font-size: 40px;
  font-weight: 800;
  color: #4adf86;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 40px;
}

p {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-top: 10px;
  color: #d5d4d8;
}

#generate-btn {
  font-family: "Inter", sans-serif;
  background: #10b981;
  border: none;
  color: #ffffff;
  padding: 10px 15px;
  width: 160px;
  margin-top: 20px;
  border-radius: 5px;
}

#generate-btn:hover {
  box-shadow: 0px 0px 2px #ffffff;
  cursor: pointer;
  text-shadow: 0px 0px 1px black;
}

.wrapper-output {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #2f3e53;
  margin-top: 50px;
  padding-top: 50px;
}

.password-output {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #4adf86;
  width: 210px;
  height: 40px;
  background: #2f3e53;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.password-output:hover {
  cursor: pointer;
}
